.config/coc
.config/gcloud
.config/nvim/autoload
.CFUserTextEncoding
.cfg/
.cups/
.gitconfig
.histfile
.local/
.master.key
.npm/
.terraform.versions/
.Trash/
.vim/
.viminfo
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
masterdatabase.kdbx
