.aws
.boto
.cache
.cfg
.circleci
.config/aws
.config/coc
.config/configstore
.config/filezilla
.config/gcloud
.config/gnupg
.config/helm
.config/iterm2
.config/keepassxc
.config/nvim/autoload
.config/pulumi
.config/zsh/.zcompdump
.config/zsh/functions
.CFUserTextEncoding
.cfg
.cups
.datamon2
.docker
.DS_Store
.gitconfig
.git-credentials
go
.gsutil
.helm
.histfile
.keepass
.kube
.local
.mozilla
.npm
.ssh
.terraform.versions
.terraform.d
.Trash
.vim
.viminfo
.Xauthority
.zsh_history
Applications
Calibre\ Library
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
